@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'aquireregular';
    src: url('../fonts/aquire-bw0ox-webfont.woff2') format('woff2'),
         url('../fonts/aquire-bw0ox-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{font-family: 'aquireregular';}
.w-15{width:15%;}
header .bg-opacity{z-index:999; position:relative;}
header{background:#000; width:100%; position:relative;}
header .header-text h1{color:#fff; text-transform:uppercase; text-align:center; font-size:42px; margin-top:46px; margin-bottom:56px; font-family: 'aquireregular';}
header .header-text p{color:#fff; text-transform:uppercase; text-align:center; font-size:18px;font-family: 'aquireregular';}
header .header-button{text-align:right;}
header .header-button button{background: #ffc744; /* Old browsers */
background: -moz-linear-gradient(top,  #ffc744 0%, #e6b700 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffc744 0%,#e6b700 100%); /* Chrome10-25,Safari5.1-6 */background: linear-gradient(to bottom,  #ffc744 0%,#e6b700 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc744', endColorstr='#e6b700',GradientType=0 ); /* IE6-9 */
padding:20px 30px; color:#000; text-transform:uppercase; text-decoration:none; font-family:Calibri; font-size:24px; font-weight:600; border:none; margin-top:130px; text-shadow:1px 1px 3px #000;}
header .header-button button:hover{}
header .header-img{text-align:center;}
header .header-img img{max-width:100%;}
header .logo{text-align:right; margin-top:26px;}
header .logo img{max-width:160px;}
section{background:#fff; width:100%; position:relative;}
section .blockchain-technology h1{color:#000; text-transform:uppercase; text-align:center; font-size:42px; margin-top:46px; font-family: 'aquireregular';}
section .blockchain-technology h4{color:#000; text-transform:uppercase; text-align:center; font-size:34px; margin-bottom:20px; font-family:Calibri; font-weight:500; margin-top:38px;}
section .photo-source h4{color:#000; text-transform:uppercase; text-align:center; font-size:34px; font-family:Calibri; font-weight:500; margin-top:120px;}
section .easy-setup-text h1{color:#000; text-transform:uppercase; text-align:center; font-size:42px; margin-top:46px; margin-bottom:20px; font-family: 'aquireregular';}
section .easy-setup-text ol{}
section .easy-setup-text li{color:#000; text-transform:uppercase; text-align:left; font-size:30px; font-family:Calibri; font-weight:500; margin-bottom:36px;}
section .google-cloud h4{color:#000; text-transform:uppercase; font-size:34px; font-family:Calibri; font-weight:500; margin-top:120px;}
section .follow-up h1{color:#000; text-transform:uppercase; text-align:right; font-size:42px; margin-top:46px; margin-bottom:20px; font-family: 'aquireregular';}
section .follow-up ul{list-style:none; margin-top:80px;}
section .follow-up li{display:block; text-align:right;}
section .follow-up li a{color:#000; font-size:30px; font-family:Calibri; font-weight:500; text-decoration:none;}
section .follow-up li a:hover{color:#000;}
.openbtn{padding-top:26px;}
.openbtn span{font-size:30px;cursor:pointer; color:#fff; padding-right:10px; text-decoration:none;}.openbtn span:hover{color:#fff;}
.aside-backdrop{position:fixed; top:0; right:0; bottom:0; left:0; z-index:999; display:none; background-color: rgb(126, 126, 126, .6); transition:0.2s opacity ease;}
/* end of side bar */
.aside{min-width:250px; width:15%; position:fixed; top:0; right:0; bottom:0; background-color:#fff; font-family: Helvetica, Arial, sans-serif; z-index:2000; width:0px; min-width:0px;
overflow:hidden; transition:0.35s width ease, 0.35s min-width ease;}
.aside .aside-contents{padding:0.5em; padding-bottom:1em; margin-top:40px;}
.aside-contents a{padding:12px 32px 12px 8px; text-decoration:none; font-size:24px; color:#000;display:block; transition:0.3s; font-family:Calibri; text-transform:uppercase; border-bottom:1px solid #000; text-align:right;}
.aside-contents a:hover{color:#000;}
.aside span{float:right; font-size:40px; margin-right:20px; cursor:pointer;}
.aside.in{width:15%; min-width:250px;}
.aside-backdrop.in{display:block; opacity:0.5;}
@media (max-width: 767px){
header .header-button{text-align:center;}
header .header-button button{margin-top:30px;}
section .photo-source h4{margin-top:30px;}
section .follow-up li{text-align:center;}
section .follow-up h1{text-align:center;}	
}
@media (min-width: 768px) and (max-width: 991px){
section .photo-source h4 {margin-top:30px;}
}